
{{#if isNewDate}}
<h2>{{post.createdAt}}</h2>
{{/if}}

<div class="news-box">
    <div>
        <h2>{{post.tituloNot}}</h2>
        <!--<h1>{{post.id}}</h1> -->
        <h4>{{post.subtitulo}}</h4>
        <h5>{{post.publicador}}</h5>
        <p>{{post.textoNot}}</p>
        <small>{{formatDate post.createdAt}}</small>
        <hr>
        <form action="/excluir-noticia/{{post.id}}" method="POST">
            <input type="hidden" name="postId" value="{{post.id}}">
            <button type="submit">Excluir Notícia</button>
        </form>
        <form action="/atualizar_noticia/{{post.id}}" method="GET">
            <input type="hidden" name="postId" value="{{post.id}}">
            <button type="submit">Editar Notícia</button>
        </form>
    </div>
</div>